.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.form {
  margin-top: 10vh;
  width: 440px;
  height: fit-content;
  padding: 24px 42px;
  border: 1px solid whitesmoke;
  border-radius: 16px;
  box-shadow: 0px 3px 4px darkgrey;
}

.header {
  text-align: center;
  font-size: 20px;
  margin: 32px auto;
}

.field_error {
  display: block;
  width: 100%;
  padding: 0px 2px;
  color: brown;
  margin-top: -12px;
}

.form input, .google_container {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 18px;
  border: 1px solid silver;
  margin-bottom: 16px;
}

.form .google_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #1C9BE3;
  color: #1C9BE3;
  cursor: pointer;
}

.form .or {
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.form input[type="submit"] {
  background-color: #1C9BE3;
  color: white;
  cursor: pointer;
}

.form .more_actions {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.form .more_actions span {
  color: #1C9BE3;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}


